{% extends 'base.html' %}
{% block title %}about me{% endblock %}
{% block picture %}background-image: url('/media/media/me3.jpg'){% endblock %}
{% block header_title %}Sergey Tsikin{% endblock %}
{% block header_lower_title %}programmer. student. explorer.{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>
          Hi! My name is Sergey and i live in Saint-Petersburg, Russia!
          i like to program, create new things and learn new stuff.
          I am a student of the College of telecommunications.
          i have experience with frontend and backend.
          i really love Python programming and it's my favorite programming
          language.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc rutrum
          felis a mollis malesuada. Phasellus sodales volutpat velit, vitae
          suscipit mi pellentesque quis. Nullam sit amet cursus lorem.
          Sed dictum porttitor enim at posuere. Nunc iaculis erat eros,
          id tempor neque malesuada sed. Maecenas molestie ut mi ut dignissim.
          Nam malesuada suscipit est eu mollis. Sed felis quam, feugiat
          id tellus rutrum, malesuada vulputate justo. Integer fermentum
          et purus ut vulputate. Aliquam id arcu et odio scelerisque sagittis.
          Duis tincidunt sapien ac nisi tincidunt, at vestibulum quam tincidunt.
          Fusce semper augue quis ante sagittis bibendum.
          Sed aliquam, nisi scelerisque imperdiet mollis, augue dolor
          cursus nunc, dapibus placerat mi ex at magna. In malesuada dolor dui,
          vel feugiat justo accumsan tristique. Morbi euismod,
          leo vitae vestibulum malesuada, velit orci semper nulla,
          sit amet tempus enim nibh nec ipsum. Donec euismod purus lacus,
          quis facilisis sem consequat eu.
        </p>
        <p>
          In facilisis mauris non posuere porta. Nunc nibh mi, eleifend nec
          suscipit eu, sollicitudin non magna. Sed tortor magna,
          tincidunt non dapibus ac, mollis efficitur tortor.
          Ut eu dignissim orci. Morbi sed ligula in tellus ornare condimentum.
          Ut luctus pretium sem, quis convallis enim sagittis in.
          Nulla finibus ornare urna, a sodales velit semper quis.
          Donec vitae porttitor erat, a luctus dui. Donec non nunc dui.
          Suspendisse fermentum blandit nibh, ac varius purus. Aliquam
          tempor sapien vel arcu porta, vitae maximus augue imperdiet.
          In non semper ex, maximus tincidunt velit. Nullam eget velit est.
          Suspendisse non risus mauris. Praesent mollis mi velit,
          non vulputate est tincidunt ac.
        </p>
        <p>
          Proin id dui aliquet, euismod tellus at, rhoncus enim.
          Nulla scelerisque congue sapien, eu volutpat dui varius vitae.
          Donec fermentum, sapien ut condimentum molestie, nibh tortor
          rhoncus ante, at facilisis dui risus at massa. Aliquam erat volutpat.
          Sed dolor sapien, ornare eget massa in, auctor pulvinar diam.
          Sed pulvinar posuere orci, quis semper justo tincidunt non.
          Suspendisse auctor consectetur nisi, a efficitur diam commodo nec.
          Sed ut est sit amet tellus porta facilisis eget a sem.
          Aliquam condimentum rhoncus sagittis.
          Mauris sodales facilisis mi at pretium.
          Nulla dapibus turpis a posuere rutrum.
          Phasellus porta ex at sapien fringilla vulputate.
        </p>

      </div>
    </div>
  </div>

  <hr>
{% endblock %}


<!--<!DOCTYPE html>-->
<!--<html lang="en">-->

<!--<head>-->

<!--  <meta charset="utf-8">-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
<!--  <meta name="description" content="">-->
<!--  <meta name="author" content="">-->

<!--  <title>Clean Blog - Start Bootstrap Theme</title>-->

<!--  &lt;!&ndash; Bootstrap core CSS &ndash;&gt;-->
<!--  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->

<!--  &lt;!&ndash; Custom fonts for this template &ndash;&gt;-->
<!--  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">-->
<!--  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>-->
<!--  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>-->

<!--  &lt;!&ndash; Custom styles for this template &ndash;&gt;-->
<!--  <link href="css/clean-blog.min.css" rel="stylesheet">-->

<!--</head>-->

<!--<body>-->

<!--  &lt;!&ndash; Navigation &ndash;&gt;-->
<!--  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">-->
<!--    <div class="container">-->
<!--      <a class="navbar-brand" href="index.html">Start Bootstrap</a>-->
<!--      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">-->
<!--        Menu-->
<!--        <i class="fas fa-bars"></i>-->
<!--      </button>-->
<!--      <div class="collapse navbar-collapse" id="navbarResponsive">-->
<!--        <ul class="navbar-nav ml-auto">-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="index.html">Home</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="about.html">About</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="post.html">Sample Post</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="contact.html">Contact</a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->
<!--  </nav>-->

<!--  &lt;!&ndash; Page Header &ndash;&gt;-->
<!--  <header class="masthead" style="background-image: url('img/about-bg.jpg')">-->
<!--    <div class="overlay"></div>-->
<!--    <div class="container">-->
<!--      <div class="row">-->
<!--        <div class="col-lg-8 col-md-10 mx-auto">-->
<!--          <div class="page-heading">-->
<!--            <h1>About Me</h1>-->
<!--            <span class="subheading">This is what I do.</span>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </header>-->

<!--  &lt;!&ndash; Main Content &ndash;&gt;-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-lg-8 col-md-10 mx-auto">-->
<!--        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio, adipisci quas excepturi maxime quae totam ducimus consectetur?</p>-->
<!--        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius praesentium recusandae illo eaque architecto error, repellendus iusto reprehenderit, doloribus, minus sunt. Numquam at quae voluptatum in officia voluptas voluptatibus, minus!</p>-->
<!--        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur magnam, excepturi aliquid ex itaque esse est vero natus quae optio aperiam soluta voluptatibus corporis atque iste neque sit tempora!</p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <hr>-->

<!--  &lt;!&ndash; Footer &ndash;&gt;-->
<!--  <footer>-->
<!--    <div class="container">-->
<!--      <div class="row">-->
<!--        <div class="col-lg-8 col-md-10 mx-auto">-->
<!--          <ul class="list-inline text-center">-->
<!--            <li class="list-inline-item">-->
<!--              <a href="#">-->
<!--                <span class="fa-stack fa-lg">-->
<!--                  <i class="fas fa-circle fa-stack-2x"></i>-->
<!--                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>-->
<!--                </span>-->
<!--              </a>-->
<!--            </li>-->
<!--            <li class="list-inline-item">-->
<!--              <a href="#">-->
<!--                <span class="fa-stack fa-lg">-->
<!--                  <i class="fas fa-circle fa-stack-2x"></i>-->
<!--                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>-->
<!--                </span>-->
<!--              </a>-->
<!--            </li>-->
<!--            <li class="list-inline-item">-->
<!--              <a href="#">-->
<!--                <span class="fa-stack fa-lg">-->
<!--                  <i class="fas fa-circle fa-stack-2x"></i>-->
<!--                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>-->
<!--                </span>-->
<!--              </a>-->
<!--            </li>-->
<!--          </ul>-->
<!--          <p class="copyright text-muted">Copyright &copy; Your Website 2020</p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </footer>-->

<!--  &lt;!&ndash; Bootstrap core JavaScript &ndash;&gt;-->
<!--  <script src="vendor/jquery/jquery.min.js"></script>-->
<!--  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->

<!--  &lt;!&ndash; Custom scripts for this template &ndash;&gt;-->
<!--  <script src="js/clean-blog.min.js"></script>-->

<!--</body>-->

<!--</html>-->
