{% extends 'base.html' %}
{% block title %}about me{% endblock %}
{% block picture %}background-image: url('/media/media/me3.jpg'){% endblock %}
{% block header_title %}Sergey Tsikin{% endblock %}
{% block header_lower_title %}programmer. student. explorer.{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>
          Hi! My name is Sergey and i live in Saint-Petersburg, Russia!
          i like to program, create new things and learn new stuff.
          I am a student of the College of telecommunications.
          i have experience with frontend and backend.
          i really love Python programming and it's my favorite programming
          language.
        </p>

      </div>
    </div>
  </div>

  <hr>
{% endblock %}