{% extends 'base.html' %}
{% block title %}Portfolio{% endblock %}
{% block picture %}background-image: url('/media/media/bg2.jpg'){% endblock %}
{% block header_title %}Portfolio{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
          {% for project in projects %}
        <div class="post-preview">
          <a href="{% url 'mainApp:project' project.slug %}">
            <h2 class="post-title">
              {{ project.title }}
            </h2>
            <h3 class="post-subtitle">
              {{ project.under_title }}
            </h3>
          </a>
<!--          <p class="post-meta">Posted by-->
<!--            <a href="#">{{ post.author }}</a>-->
<!--            on {{ month }} {{ post.published.day }}, {{ post.published.year }}</p>-->
        </div>
          {% endfor %}
        <hr>

        <hr>
      </div>
    </div>
  </div>
{% endblock %}