{% extends 'base.html' %}
{% load markdown_extras %}

{% block title %}post{% endblock %}
{% block picture %}background-image: url({{ post.image.url }}) {% endblock %}
{% block header_title %}{{ post.title }}{% endblock %}
{% block header_lower_title %}{{ post.under_title }}{% endblock %}
{% block content %}
  <!-- Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          {{ post.text | markdown | safe }}
      </div>
    </div>
  </article>
{% endblock %}

