body {
  font-size: 18px;
  color: #212529;
  font-family: 'JetBrains Mono', 'Times New Roman', serif;
}

p {
  line-height: 1.4;
  margin: 31px 0;
}

p a {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
  font-family: 'Roboto', Arial, sans-serif;
}

a {
  color: black;
  transition: all 0.4s;
}

a:focus, a:hover {
  color: #9233ff;
}


.section-heading {
  font-size: 37px;
  font-weight: 700;
  margin-top: 58px;
}

.caption {
  font-size: 14px;
  font-style: italic;
  display: block;
  margin: 0;
  padding: 10px;
  text-align: center;
}


#mainNav {
  position: absolute;
  background-color: white;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  background: transparent;

}

#mainNav .navbar-brand {
  font-weight: 800;
  font-size: 22px;
  padding: 10px 20px;
  color: white;
}

#mainNav .navbar-nav > li.nav-item > a {
  font-size: 15px;
  font-weight: 800;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #9233ff;
  }

  #mainNav .navbar-nav > li.nav-item > a {
    padding: 10px 20px;
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a:hover {
    color: #9233ff;
  }

header.top {
  margin-bottom: 50px;
  background: no-repeat center center;
  background-color: #868e96;
  background-attachment: scroll;
  position: relative;
  background-size: cover;
}

header.top .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #212529;
  opacity: 0.5;
}

header.top .page-heading,
header.top .post-heading,
header.top .header__title_main {
    padding: 200px 0;

  color: white;
}


header.top .page-heading h1, header.top .header__title_main h1 {
  margin-top: 0;
  font-size: 80px;

}

header.top .page-heading .header__lower_title,
header.top .header__title_main .header__lower_title {
  display: block;
  font-size: 25px;
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0 0;

  font-family: 'Roboto', Arial, sans-serif;
}



.post-preview > a:focus, .post-preview > a:hover {
  text-decoration: none;
  color: #9233ff;
}



.post-preview > a > .post-title {
  font-size: 34px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.post-preview > a > .post-subtitle {
  font-weight: 300;
  margin: 0 0 10px;
}

.post-preview > .post-meta {
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
  color: #868e96;
}

.post-preview > .post-meta > a {
  text-decoration: none;
  color: #212529;
}

.post-preview > .post-meta > a:focus, .post-preview > .post-meta > a:hover {
  color: #9233ff;
}



.floating-label-form-group {
  font-size: 14px;
  margin: 0;
  margin: 0;
  border-bottom: 1px solid gray;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
  font-size: 18px;
  z-index: 1;
  padding: 0;
  border: none;
  border-radius: 0;
  font-family: 'JetBrains Mono', Tahoma, serif;
}



.floating-label-form-group label {
  font-size: 12px;
  line-height: 1.7em;
  position: relative;
  z-index: 0;
  top: 2em;
  display: block;
  margin: 0;
  transition: top 0.4s ease;
  opacity: 0;
}

.floating-label-form-group .help-block {
  margin: 15px 0;
}

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}

.floating-label-form-group-with-focus label {
  color: #0085A1;
}

form .form-group:first-child .floating-label-form-group {
  border-top: 1px solid #dee2e6;
}

footer {
  padding: 50px 0 65px;
}

footer .list-inline {
  margin: 0;
  padding: 0;
}

footer .myName {
  font-size: 14px;
  margin-bottom: 0;
  text-align: center;
}



.btn-primary {
  background-color: #9233ff;
  border-color: #0085A1;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: #4b0082;
}

.btn-lg {
  font-size: 16px;
  padding: 25px 35px;
}
